version: "3.8"
services:
  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - redis
    command: ["python", "main.py"]

  worker:
    build: .
    env_file:
      - .env
    depends_on:
      - redis
    command: ["celery", "-A", "tasks.celery_app", "worker", "--loglevel=info"]

  redis:
    image: redis:6-alpine
